# ‰∫∫Âè£ÊôÆÊü•Êï∞ÊçÆÈõÜ`Adult`
> @Êù®ÂÜ†Êûó

- Êï∞ÊçÆÈõÜ: http://archive.ics.uci.edu/ml/datasets/Adult `.names`ÊòØÊï∞ÊçÆÈõÜ `.test`ÊòØÊµãËØïÈõÜ
- ÁõÆÊ†á: Ê†πÊçÆUCI‰∫∫Âè£ÊôÆÊü•Êï∞ÊçÆÈõÜ`È¢ÑÊµãÊî∂ÂÖ•ÊòØÂê¶‰ºöË∂ÖËøá$50k`
- ÈÄÇÂêà: ÂÜ≥Á≠ñÊ†ë,ÈÄªËæëÂõûÂΩíÁ≠â‰∏ÄÁ≥ªÂàóÂàÜÁ±ªÁÆóÊ≥ï
- Â±ûÊÄß‰ø°ÊÅØ:
    > Â±ûÊÄßÂàóË°®Ôºö>50KÔºå<=50K

    - `age`Âπ¥ÈæÑ:ËøûÁª≠ÂÄº
    - `workclass`Â∑•‰ΩúÁ±ªÔºöÁßÅ‰∫∫ÔºåËá™ÈõáÈùûÂÖ¨Âè∏ÔºåËá™ÈõáÂÖ¨Âè∏ÔºåËÅîÈÇ¶ÊîøÂ∫úÔºåÂú∞ÊñπÊîøÂ∫úÔºåÂ∑ûÊîøÂ∫úÔºåÊó†Ëñ™Ôºå‰ªéÊú™Â∑•‰ΩúËøá„ÄÇ
    - `fnlwgt`ÔºöËøûÁª≠„ÄÇ
    - `education`ÊïôËÇ≤ÔºöÂ≠¶Â£´Ôºå‰∏Ä‰∫õÂ≠¶Èô¢Ôºå11Âπ¥Á∫ßÔºåHSÊØï‰∏öÁîüÔºåÊïôÊéàÂ≠¶Èô¢ÔºåAssoc-acdmÔºåAssoc-vocÔºå9thÔºå7th-8thÔºå12thÔºåÁ°ïÂ£´Ôºå1st-4thÔºå10thÔºåÂçöÂ£´Â≠¶‰ΩçÔºå5th-6thÔºåÂ≠¶ÂâçÁè≠„ÄÇ
    - `education-num`ÔºöÊåÅÁª≠„ÄÇ
    - `marital-status`Â©öÂßªÁä∂ÂÜµÔºöÂ∑≤Â©öÂÖ¨Ê∞ëÈÖçÂÅ∂„ÄÅÁ¶ªÂ©ö„ÄÅÊú™Â©ö„ÄÅÂàÜÂ±Ö„ÄÅ‰∏ßÂÅ∂„ÄÅÂ∑≤Â©öÈÖçÂÅ∂Áº∫Â∏≠„ÄÅÂ∑≤Â©öÈÖçÂÅ∂„ÄÇ
    - `occupation`ËÅå‰∏öÔºöÊäÄÊúØÊîØÊåÅ„ÄÅÂ∑•Ëâ∫Áª¥‰øÆ„ÄÅÂÖ∂‰ªñÊúçÂä°„ÄÅÈîÄÂîÆ„ÄÅÊâßË°åÁÆ°ÁêÜ„ÄÅÊïôÊéà‰∏ì‰∏ö„ÄÅÊê¨ËøêÂ∑•Ê∏ÖÊ¥ÅÂ∑•„ÄÅÊú∫Âô®Êìç‰Ωú„ÄÅÈ´òÁ∫ßÊñá‰π¶„ÄÅÂÜú‰∏öÊ∏î‰∏ö„ÄÅËøêËæìÊê¨Ëøê„ÄÅÁßÅ‰∫∫ÊàøÂ±ãÊúçÂä°„ÄÅ‰øùÊä§ÊúçÂä°„ÄÅÊ≠¶Ë£ÖÈÉ®Èòü„ÄÇ
    - `relationship`ÂÖ≥Á≥ªÔºöÂ¶ªÂ≠êÔºåËá™Â∑±ÁöÑÂ≠©Â≠êÔºå‰∏àÂ§´ÔºåÈùûÂÆ∂Â∫≠ÔºåÂÖ∂‰ªñ‰∫≤ÊàöÔºåÊú™Â©ö„ÄÇ
    - `race`ÁßçÊóèÔºöÁôΩ‰∫∫Ôºå‰∫öÊ¥≤Ë£îÂ§™Âπ≥Ê¥ãÂ≤õÊ∞ëÔºåÁæéÊ¥≤Âç∞Á¨¨ÂÆâ-Áà±ÊñØÂü∫Êë©‰∫∫ÔºåÂÖ∂‰ªñÔºåÈªë‰∫∫„ÄÇ
    - `sex`ÊÄßÂà´ÔºöÂ•≥ÔºåÁî∑„ÄÇ
    - `capital-gain`ËµÑÊú¨Êî∂ÁõäÔºöËøûÁª≠„ÄÇ
    - `capital-loss`ËµÑÊú¨ÊçüÂ§±ÔºöÊåÅÁª≠„ÄÇ
    - `hours-per-week`ÊØèÂë®Â∞èÊó∂Êï∞ÔºöËøûÁª≠„ÄÇ
    - `native-country`ÊØçÂõΩÔºöÁæéÂõΩ„ÄÅÊü¨ÂüîÂØ®„ÄÅËã±ÂõΩ„ÄÅÊ≥¢Â§öÈªéÂêÑ„ÄÅÂä†ÊãøÂ§ß„ÄÅÂæ∑ÂõΩ„ÄÅÁ¶ªÁæéÔºàÂÖ≥Â≤õ-USVI-Á≠âÔºâ„ÄÅÂç∞Â∫¶„ÄÅÊó•Êú¨„ÄÅÂ∏åËÖä„ÄÅÂçóÈÉ®„ÄÅ‰∏≠ÂõΩ„ÄÅÂè§Â∑¥„ÄÅ‰ºäÊúó„ÄÅÊ¥™ÈÉΩÊãâÊñØ„ÄÅËè≤ÂæãÂÆæ„ÄÅÊÑèÂ§ßÂà©„ÄÅÊ≥¢ÂÖ∞„ÄÅÁâô‰π∞Âä†„ÄÅË∂äÂçó„ÄÅÂ¢®Ë•øÂì•„ÄÅËë°ËêÑÁâô„ÄÅÁà±Â∞îÂÖ∞„ÄÅÊ≥ïÂõΩ„ÄÅÂ§öÁ±≥Â∞ºÂä†ÂÖ±ÂíåÂõΩ„ÄÅËÄÅÊåù„ÄÅÂéÑÁìúÂ§öÂ∞î„ÄÅÂè∞Êπæ„ÄÅÊµ∑Âú∞„ÄÅÂì•‰º¶ÊØî‰∫ö„ÄÅÂåàÁâôÂà©„ÄÅÂç±Âú∞È©¨Êãâ„ÄÅÂ∞ºÂä†ÊãâÁìú„ÄÅËãèÊ†ºÂÖ∞„ÄÅÊ≥∞ÂõΩ„ÄÅÂçóÊñØÊãâÂ§´„ÄÅËê®Â∞îÁì¶Â§ö„ÄÅÁâπÈáåÁ∫≥ËææÂíåÂ§öÂ∑¥Âì•„ÄÅÁßòÈ≤Å„ÄÅÊ¥™„ÄÅËç∑ÂÖ∞-Ëç∑ÂÖ∞„ÄÇ

----
## ÈóÆÈ¢òÂàÜÊûê
- ‰∏ªÁõÆÊ†á‰∏∫`È¢ÑÊµãÊòØÂê¶Êî∂ÂÖ•‰ºöÂ§ß‰∫é50k`,ÂàÜÊûêÂ±ûÊÄß,ÈÄâÂèñÁâπÂæÅ,ËøáÁ®ã‰ΩøÁî®`markdown`ÂçïÂÖÉ
> VSCodeÊâ©Â±ïÊé®Ëçê:`hediet.vscode-drawio`,`mushan.vscode-paste-image`
1. `draw.io`ÁöÑ‰ΩøÁî®: Êñ∞Âª∫ `XXX.dio`Êâ©Â±ïÂêçÊñáÊ°£,ÂèØÁîªÊµÅÁ®ãÂõæ,`E-R`ÂõæÁ≠â
2. `PasteImage`ÁöÑ‰ΩøÁî®:

![](pics/2022-12-29-11-05-55.png)

   - ÈÄöËøá‰ªªÊÑèÊñπÂºèÊà™Âõæ
   - ‰ΩøÁî®`Ctrl+Alt+V`,Âç≥ÂèØÂ∞ÜÂâ™Ë¥¥Êùø‰∏≠ÁöÑËßÅÊà™Âõæ‰øùÂ≠òÂà∞  `È°πÁõÆ‰∏ªÊñá‰ª∂Â§π/pics` Ë∑ØÂæÑ

----
## Êï∞ÊçÆÂáÜÂ§á
- Êï∞ÊçÆÁöÑÂØºÂÖ•,Ê£ÄËßÜ,Ê∏ÖÊ¥ó,ÊìçÁ∫µ,È¢ÑÂ§ÑÁêÜÁ≠âÁ≠â,Ëá™Ë°åÂ§ÑÁêÜ
> Ë¶ÅÊ±Ç:Â§ÑÁêÜÂâçÁöÑÊï∞ÊçÆÂú®`original`Êñá‰ª∂Â§π,Â§ÑÁêÜÂêéÁöÑ(ÊàñËÄÖÁîüÊàêÁöÑÊñ∞Êñá‰ª∂)Êñá‰ª∂Âè¶Â≠òËá≥`post_cleaning`Êñá‰ª∂Â§π,‰øùÊåÅ`È°πÁõÆÊñá‰ª∂Ê†ë`Êï¥Ê¥ÅÁæéËßÇ

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import sklearn.model_selection as sk_ms
import sklearn.metrics as sk_met
import sklearn.preprocessing as sk_pre
from pyecharts.charts import Line,Bar,Scatter,Pie,MapGlobe
import pyecharts.options as opts
import seaborn as sns

- ÂéüÊï∞ÊçÆ:
    - `adult.data`ÊòØËÆ≠ÁªÉÁî®,`adult.test`ÊòØ,ÊµãËØïÁî®,`adult.name`‰∏∫Êï∞ÊçÆÈõÜ‰ø°ÊÅØ<br>
    ![adult.data](pics/2023-01-03-15-59-40.png)<br>
    ÊòØÊôÆÈÄöÊñáÊú¨Êñá‰ª∂,‰∏™ÂÄº‰πãÈó¥ÊòØ`, `ÂàÜÈöî,ÂèØÂΩìcsvËØªÂèñ,‰ΩÜÈúÄË¶ÅÊåáÂÆöÂàóÂêçÂíåÂàÜÈöîÁ¨¶<br>
    adult.testÂêå,‰ΩÜÈ¶ñË°åÈúÄË¶ÅËàçÂºÉ<br>
    ![](pics/2023-01-03-16-00-52.png)<br>
    ÂèÇÊï∞ËØ¶Ëß£: [pandas.read_csvÂèÇÊï∞Ë∂ÖÁ∫ßËØ¶Ëß£ÔºåÂ•ΩÂ§öÊ†óÂ≠êÔºÅ](https://blog.csdn.net/sinat_35562946/article/details/81058221)

In [2]:
train = pd.read_csv('./original/adult.data',sep=', ',names=[
    'age','work_t','fnlwgt','edu','edu_n','marital','job','rel','race','sex','gain','loss','hr_week','nc','y'])
train.head()

C:\Users\18631\AppData\Local\Temp\ipykernel_3968\2562057041.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train = pd.read_csv('./original/adult.data',sep=', ',names=[

,age,work_t,fnlwgt,edu,edu_n,marital,job,rel,race,sex,gain,loss,hr_week,nc,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
test = pd.read_csv('./original/adult.test',skipinitialspace=True,skiprows=1,names=[
    'age','work_t','fnlwgt','edu','edu_n','marital','job','rel','race','sex','gain','loss','hr_week','nc','y'])
test.head()

,age,work_t,fnlwgt,edu,edu_n,marital,job,rel,race,sex,gain,loss,hr_week,nc,y
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [4]:
test['y'] = test['y'].apply(lambda x : x.rstrip('.'))

- ‰ºº‰πéÊó†Á©∫ÂÄº,Êú™Áü•È°πÊòØ`?`ËÄåÈùû`nan`

In [5]:
datasheet = pd.concat([train,test]).replace('?',np.nan)
datasheet

,age,work_t,fnlwgt,edu,edu_n,marital,job,rel,race,sex,gain,loss,hr_week,nc,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
16277,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

- ÂÖàÁúãcategoricalÁöÑÊï∞ÊçÆ,Ê†áÁ≠æÂåñ; ÂÜçÁúãËøûÁª≠ÊÄßnumericÊï∞ÊçÆ,ÂàáÂàÜ

In [6]:
def value_proc(df=pd.DataFrame(),n_v_method='quantile',n_bin=5):
    # ÈíàÂØπÂàÜÁ±ªÂèñÊ†áÁ≠æ
    cat_val = df.select_dtypes('object')
    cat_enc = sk_pre.LabelEncoder()
    # ÈíàÂØπËøûÁª≠ÂûãÊï∞Â≠óÂàíÂàÜÂå∫ÊÆµ
    num_val = df.select_dtypes(exclude='object')
    cont_enc = sk_pre.KBinsDiscretizer(n_bins=n_bin,encode='ordinal',strategy=n_v_method)
    
    if n_v_method in ['uniform','quantile','kmeans']:
        for col in cat_val.columns:
            cat_val[col] = cat_enc.fit_transform(cat_val[col])
        for col in num_val.columns:
            num_val[col] = cont_enc.fit_transform(num_val[col].to_numpy().reshape(-1,1))
    else:raise Exception("Keyword nvmethod only accept 'uniform','quantile','kmeans' !")
    return (pd.concat([num_val,cat_val],axis=1))

In [7]:
vect = value_proc(datasheet.dropna(),n_v_method='kmeans',n_bin=4)
vect

,age,fnlwgt,edu_n,gain,loss,hr_week,work_t,edu,marital,job,rel,race,sex,nc,y
0,1.0,0.0,3.0,0.0,0.0,1.0,5,9,4,0,1,4,1,38,0
1,2.0,0.0,3.0,0.0,0.0,0.0,4,9,2,3,0,4,1,38,0
2,1.0,1.0,2.0,0.0,0.0,1.0,2,11,0,5,1,4,1,38,0
3,2.0,1.0,1.0,0.0,0.0,1.0,2,1,2,5,0,2,1,38,0
4,0.0,2.0,3.0,0.0,0.0,1.0,2,9,2,9,5,2,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,1.0,1.0,3.0,0.0,0.0,1.0,2,9,4,9,3,4,1,38,0
16276,1.0,1.0,3.0,0.0,0.0,1.0,2,9,0,9,1,4,0,38,0
16278,1.0,2.0,3.0,0.0,0.0,1.0,2,9,2,9,0,4,1,38,0
16279,2.0,0.0,3.0,1.0,0.0,1.0,2,9,0,0,3,1,1,38,0
16280,1.0,1.0,3.0,0.0,0.0,2.0,3,9,2,3,0,4,1,38,1

----
## Êï∞ÊçÆÂª∫Ê®°
- Êü•ÁúãÊ†∑Êú¨ÁöÑÁõÆÊ†áÂç†ÊØî

In [25]:
a = datasheet['y'].value_counts(normalize=True)
graph = (
    Pie(init_opts=opts.InitOpts(bg_color='white'))
    .add('',[list(z) for z in zip(a.index.tolist(),a.values.tolist())])
    .set_global_opts(title_opts=opts.TitleOpts(title="ÁõÆÊ†áYÂç†ÊØî"))
    .set_series_opts(label_opts=opts.LabelOpts(formatter="[{b}] = {c}"))
)
graph.render_notebook()

- ÂàÜÁ¶ªÂá∫ÊµãËØïÈõÜ

In [35]:
train_X,test_X,train_y,test_y = sk_ms.train_test_split(vect.iloc[:,:-1],vect.iloc[:,-1],test_size=0.2,random_state=20)

- ÂàõÂª∫Ê®°ÂûãÂπ∂ÂØªÊâæÊúÄ‰Ω≥ÂèÇÊï∞
    > ËßÅ:[sklearn‰∏≠ÁöÑGridSearchCVÊñπÊ≥ïËØ¶Ëß£](https://www.cnblogs.com/dalege/p/14175192.html)

In [ ]:
dtc = DecisionTreeClassifier(class_weight='balanced')
gs = sk_ms.GridSearchCV(dtc,cv=10,n_jobs=-1,param_grid={
    'splitter':('best','random'),
    'criterion':("gini","entropy"),
    'max_depth':[*range(1,10)],
    'min_samples_leaf':[*range(1,50,5)],
    'min_impurity_decrease':[*np.linspace(0,0.5,20)]
})
gs.fit(train_X,train_y)

In [52]:
print(f'GridSearchCVÁªìÊûú:\n\
    ÊúÄ‰Ω≥ÂèÇÊï∞:\n{gs.best_params_}\n\
    ÊúÄ‰Ω≥ÂàÜÊï∞:{gs.best_score_}\n\
    ÊµãËØïÈõÜÊ≠£Á°ÆÁéá:{pd.Series(np.equal(gs.predict(test_X),test_y)).value_counts(normalize=True)[0]*100}%')

GridSearchCVÁªìÊûú:
    ÊúÄ‰Ω≥ÂèÇÊï∞:
{'criterion': 'gini', 'max_depth': 9, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'splitter': 'best'}
    ÊúÄ‰Ω≥ÂàÜÊï∞:0.7929068218334494
    ÊµãËØïÈõÜÊ≠£Á°ÆÁéá:79.38087341072416%

----
## Êï∞ÊçÆÂèØËßÜÂåñ
- ÂåÖÂê´`Ê®°ÂûãÈ¢ÑÊµãÁªìÊûúÁöÑÂèØËßÜÂåñ`,‰ª•ÂèäÂÖ∂‰ªñÁöÑ`Êó†ÂÖ≥Ê®°ÂûãÈ¢ÑÊµãÁöÑÂçïÁ∫ØEDAÂèØËßÜÂåñ`

> ‰ºòÁßÄÂàÜÊûêÊ°à‰æãÂèÇËÄÉ:<br>[Explain your ML model: no more black boxes üéÅ](https://www.kaggle.com/code/amidala/explain-your-ml-model-no-more-black-boxes)<br>[Who can earn more than 50K per year?](https://www.kaggle.com/code/jiashenliu/who-can-earn-more-than-50k-per-year)

> ‰∏çÂèØÁÖßÊê¨